// Import page-specific CSS files here.
@import "home";
@import "lego";

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  }
.avatar-pic{
  width: 100px;
  border-radius: 50%;
}

// .main-btn {
//   position: absolute;
// }
