

.flex {
  display: flex;
}
.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lego-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  grid-gap: 8px;
  img {
    object-fit: cover;
    border-radius: 15px;
  }
}

.lego-card-image {
  background-position: center;
  border-radius: 15px;
}

.lego-card-content {
  padding: 10px;
  background-color: #F8F9FA;
  border-radius: 15px;

}

.lego-card-actions {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  border-radius: 15px;

}

.lego-form {
  background-color: #F8F9FA;
  padding: 24px;
  border-radius: 3px;

}


.lego-show-card {
  background: #F8F9FA;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.map {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.no-mb {
  margin-bottom: 0;
}

.lego-show-address {
  font-weight: 300;
  color: #333;

}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.small-logo {
  width: 100px;
  height: 100px;
}
