<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('home_banner.png')%>);">
  <div class="container">
    <h1 class="home-headline">RENTALEGO</h1>
    <div class="home-sub-headline-and-buttons">
    <br> <br>
      <p class="home-sub-headline">Give your Legos a second life!</p>
      <div class="home-btns">
        <%# <%= link_to "Legos list", legos_path, class: "btn btn-warning" %>
        <%# <%= link_to "My Legos", dashboard_path, class: "btn btn-warning" %>
      </div>
    </div>
  </div>
</div>
<div style="height: 10px">
  </div>
