.navbar-lewagon {
  justify-content: space-between;
  background: #d02020 !important;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-navbar {
  color: white;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  margin-right: 25px;
  width:400px;
  &:hover {
    color: #FFD905;
  }
}

.small-logo {
  width: 80px;
  // height: 80px;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 5px;
}
// .nav-background {
//   background-image: url("<img src="https://i.pinimg.com/originals/f6/12/80/f612807220b664f9f5884ee9f72e64bd.jpg" jsaction="VQAsE" class="r48jcc pT0Scc iPVvYb" style="max-width: 720px; height: 476px; margin: 0px; width: 268px;" alt="75,811,106 Patterns Images, Stock Photos &amp; Vectors | Shutterstock | Lego  wallpaper, Galaxy s3 wallpaper, Rainbow colors" jsname="kn3ccd" aria-hidden="false">");
//   background-size: cover;

//   /* Workaround for some mobile browsers */
//   min-height: 100%;
// }
